<div class="social-icons">
  <a href="https://www.linkedin.com/in/ahmed-alaa-4b74b2279" target="_blank">
    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg" width="24" height="24" alt="LinkedIn"/>
  </a>
  <a href="https://github.com/Ahmed-alaa47" target="_blank">
    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" width="24" height="24" alt="GitHub"/>
  </a>
  <a href="mailto:ahmeda.elhousseny@gmail.com">
    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gmail.svg" width="24" height="24" alt="Email"/>
  </a>
</div>
<link rel="stylesheet" href="{{ '/assets/css/social-links.css' | relative_url }}">
